
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
    env_file:
      - .env
    depends_on:
      - db
    command: python src/manage.py runserver 0.0.0.0:8000

  bot:
    build: .
    environment:
      - DB_HOST=db
    env_file:
      - .env
    depends_on:
      - db
    command: python src/manage.py run_bot

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=notifications
      - POSTGRES_USER=temp
      - POSTGRES_PASSWORD=temp
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: